
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
    font-size: 25px;
}

footer{
    margin-top: 25px;
}

.story-text{
    /*box 오와 열*/
    height: 100px;
}
.dash-status{
    text-transform: capitalize;
}
#delete-form{
    display: inline;
}
.info__txt{
    color: #666;
    font-size: 16px;
}